@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-white: #ffffff;
    --bg-red: #c63f3b;
    --bg-pink: #e5898f;
    --bg-orange: #fef1e2;
    --bg-green: #13ce66;
    --bg-yellow: #ffa301;
    --bg-yellow-ligth: #fedba1;
    --bg-gray: #8492a6;

    --tw-ring-color: currentcolor !important;
    --tw-ring-shadow: none !important;
    --vs-border-width: none !important;
    --vs-border-style: none !important;
    --vs-border-color: transparent;
    --vs-actions-padding: transparent;
    --vs-controls-color: var(--bg-red) !important;
    --vs-selected-color: var(--bg-red) !important;
    --vs-search-input-color: var(--bg-red) !important;
    --vs-dropdown-color: var(--bg-red) !important;
    --vs-dropdown-option--active-bg: var(--bg-yellow-ligth) !important;
    --vs-dropdown-option--active-color: var(--bg-red) !important;
    --vs-dropdown-bg: var(--bg-orange) !important;
    --vs-dropdown-max-height: 8rem !important;
    --vs-dropdown-max-width: 5rem !important;
  }

  .v-select,
  .v-select * {
    font-family: 'Manrope' !important;
    background-color: var(--bg-orange) !important;
    border: none !important;
    padding: 0 !important;
  }

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: solid 1px var(--bg-white);
    -webkit-text-fill-color: var(--bg-white);
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
    color: var(--bg-white);
  }

  ::-webkit-calendar-picker-indicator {
    background-image: url('@/assets/calendar.svg');
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-track:hover {
    background: var(--bg-red);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--bg-red);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--bg-red);
  }
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('@/assets/fonts/Gotham-Black/GothamBlack.ttf');
}

/* @font-face {
  font-family: 'Manrope';
  src: url('@/assets/fonts/Manrope/Manrope-ExtraLight.ttf');
} */
